<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>执行test case</title>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='packages/jstree/jstree.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='packages/jstree/themes/default/style.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/docs.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelStyle.css') }}"/>


    <style type="text/css">
        table{
            font-family: verdana, arial, sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        table th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table td {
            border-width: 1px;
            padding: 0px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

    </style>


</head>
<body>

<div id="box" style="float: left;width: 98%;height: 98%; position:relative; margin: 5px">
<div style="float: left;width: 30%">
    <p style="width: 50%;float: left;">以下为测试流程配置,右键开始执行</p>
<button id="full-screen-btn" onclick="return changeScreen()" style="width: 100px">全屏显示</button>
<input type="text" id="search_input" class="search_input" placeholder="请输入信息搜索" />
    <button id="suite_id" hidden="hidden"></button>

    <div id="jstree" style="float: left;width: 100%"></div>
</div>
    <div id="line"
         style="position:absolute;top:0;left:30%;height:100%;width:4px;overflow:hidden;background:#fcf6ff;cursor:w-resize;"></div>
    <div id="testCaseDetail" style="float: right;width: 65%;height: 100%;overflow: auto" class="table-wrapper">
    <input type="button" onclick="refreshProgress()" value="refresh">
        <table id='taskTable' class='taskTable' style="float: right;width: 100%">
            <tr>
                <th style="width: 45%">testCaseName</th>
                <th style="width:15%">test time</th>
                <th style="width:30%">test progress</th>
                <th style="width: 10%">查看结果</th>
            </tr>
            {% for runData in runDatas %}
                <tr>
                    <td>{{ runData[1] }}</td>
                    <td id="{{ runData[0] + 't' }}">{{ runData[2] }}</td>
                    <td>
                        <progress id="{{ runData[0] + 'p' }}" max="100" value="{{ runData[3] }}"></progress>
                        <label id="{{ runData[0] + 'l' }}">{{ runData[3] }}%</label>
                    </td>
                    {% if runData[3] == 100 %}
                        <td id="{{ runData[0] + 'd' }}" class="showResult">
                           <input type="button" value='showResult' onclick="showTestResult('{{ runData[0] }}')"></td>
                    {% else %}
                        <td id="{{ runData[0] + 'd' }}" class="showResult">
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>


<script type="text/javascript">
    function changeScreen() {
                if ($("#full-screen-btn").text() == "全屏显示") {
                       parent.quan();
                    $("#full-screen-btn").text("退出全屏");
                } else {
                    parent.exitQ();
                    $("#full-screen-btn").text("全屏显示");
                }
            }

    function GetTreeData(tree_item_id, tree_item_type) {
        var arrs = [];
        $.ajax({
            type: "GET",
            url: "/main/root.json?id=" + tree_item_id + "&type=" + tree_item_type,
            dataType: "json",
            async: false,
            success: function (result) {
                if (result.resultCode == '302') {
                    top.location.href = result.result;
                } else {
                    var arrays = result.result;
                    for (var i = 0; i < arrays.length; i++) {
                        var arr = {
                            "id": arrays[i].id,
                            "parent": arrays[i].parent,
                            "text": arrays[i].text,
                            "type": arrays[i].type,
                            "children": arrays[i].children,
                            "a_attr": {
                                "step_param1": arrays[i].step_param1,
                                "step_param2": arrays[i].step_param2,
                                "step_param3": arrays[i].step_param3,
                                "step_param4": arrays[i].step_param4,
                                "step_param5": arrays[i].step_param5
                            }
                        };
                        arrs.push(arr);
                    }
                }
            },
            error: function (xhr, state, errorThrown) {
                console.log(xhr, state, errorThrown)
            }
        });
        return arrs
    }

    $(function () {
        //当DOM准备好时创建一个jstree实例
        $('#jstree').jstree({
            core: {
                "check_callback": true,
                data: function (node, render) {
                    if (node.id == "#") {
                        render(GetTreeData("", ""))
                    }
                    else if (node.original.type == "root") {
                        render(GetTreeData(node.id, node.original.type))
                    }
                    else {
                        render([])
                    }
                }
            },
            // plugins  存储所有已加载的jstree插件
            'plugins': [
                'contextmenu', 'types', 'search'
            ],
            "types": {
                "root": {"valid_children": ["testSuite"]},
                "testSuite": {
                    "valid_children": [],
                    "icon": "{{ url_for('static', filename='icons/testSuite.png')}}"
                },
                '#': {"valid_children": []}
            },
            //contextmenu 存储contextmenu插件的所有默认值
            'contextmenu': {
                'items': customMenuRun
            }
        });

    });

    $('#jstree').on('changed.jstree', function (e, data) {
//当前选中节点的id
        var dom = data.instance.get_node(data.selected[0]);
        $("#suite_id").html(dom.id);
    });
    $("#jstree").on("loaded.jstree", function (e, data) {
                    $('#jstree').jstree('open_all');
                    });

    function customMenuRun(node) {
        var items = {
            'runTestSuite': {
                'label': 'run testSuite',
                'action': function (obj) {
                    var suite_id = $("#suite_id").html();
                    $.ajax({
                        type: "GET",
                        url: "/run/runTestSuite?suite_id=" + suite_id,
                        {#                                        data: JSON.stringify(),#}
                        dataType: "json",
                        async: false,
                        success: function (result) {
                            if (result.resultCode == '302'){
                            top.location.href = result.result;
                        }
                            else{
                                addNewTask(result.result);
                            alert("task start!");
                            }
                        },
                        error: function (result) {
                            alert("tart run error!");
                        }
                    });
                }
            }
        };
        if (node.type == 'root') {
            delete items.runTestSuite;
        }//注意要有返回值
        return items;
    }
    $('#jstree').on('hover_node.jstree', function (e, data) { //鼠标移上事件
            var id = data.node.a_attr.id;
            var item = document.getElementById(id);
            item.style.display='inline';
            });
    $('#jstree').on('dehover_node.jstree', function (e, data) {
                //监听鼠标移出事件
                var id = data.node.a_attr.id;
            var item = document.getElementById(id);
            item.style.display='inline-block';

            });

    function refreshProgress() {
        $.ajax({
            type: "GET",
            url: "/run/refreshProgress",
            {#            data: JSON.stringify("{1:1}"),#}
            dataType: "json",
            async: false,
            success: function (result) {
                if (result.resultCode == '302'){
                            top.location.href = result.result;
                        }
                else if (result.resultCode == '200') {
                    for (row in result.result) {
                        console.log("refresh", row);
                        var id_t = "#" + result.result[row][0] + "t";
                        var id_p = result.result[row][0] + "p";
                        var id_l = "#" + result.result[row][0] + "l";
                        var id_d = "#" + result.result[row][0] + "d";
                        var percent = result.result[row][3];
                        if (percent > 100){
                            percent = 100;
                        }
                        else if (percent < 0){
                            percent = 0;
                        }
                        document.getElementById(id_p).value = percent;
                        $(id_l).html(percent + '%');
                        $(id_t).html(result.result[row][2]);
                        if (percent >= 100){
                            var temp = "showTestResult('" + result.result[row][0] + "')";
                            var inner_data = '<input type="button" value="showResult" onclick=' + temp  + '>'
                            $(id_d).html(inner_data);
                        }
                    }
                }
            },
            error: function (result) {
{#                alert("synchronize error!");#}
            }
        });
    }


    function addNewTask(task_lines) {
        var task_id = task_lines[0];
        var task_name = task_lines[1];
        var table = document.getElementById("taskTable");
        console.log(table);
        var rowsNum = table.length;
        var row = table.insertRow(rowsNum);
        var cell0 = row.insertCell(0);
        cell0.innerHTML = task_name;
        var cell1 = row.insertCell(1);
        cell1.innerHTML = "";
        cell1.setAttribute("id", task_id + 't');
        var cell2 = row.insertCell(2);
        cell2.innerHTML = "<progress id='" + task_id + "p' max='100' value='0.0'></progress> <label id='" + task_id + "l'>0%</label>";
        var cell3 = row.insertCell(3);
        cell3.innerHTML = "";
        cell3.setAttribute("id", task_id + 'd');
    }

    function showTestResult(runCaseId){
        window.open('showResult?runCaseId=' + runCaseId, 'testResult' + runCaseId, 'height=400, width=700, top=400, left=500, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no')
    }


    setInterval(refreshProgress, 5000);
</script>
<script type="application/javascript">
    var to = false;
$('#search_input').keyup(function () {
    if(to) {
        clearTimeout(to);
    }
    to = setTimeout(function () {
        $('#jstree').jstree(true).search($('#search_input').val());

    }, 250);
});
</script>
</html>