<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>autoTest</title>
    <!-- loader-->
    <link href="{{ url_for('static', filename='css/background/pace.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/background/pace.js') }}"></script>
    <!--favicon-->
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
    <!-- Vector CSS -->
    <!-- simplebar CSS-->
    <link href="{{ url_for('static', filename='css/background/simplebar.css') }}" rel="stylesheet">
    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='css/background/bootstrap.css') }}" rel="stylesheet">
    <!-- animate CSS-->
    <link href="{{ url_for('static', filename='css/background/animate.css') }}" rel="stylesheet" type="text/css">
    <!-- Icons CSS-->
    <link href="{{ url_for('static', filename='css/background/icons.css') }}" rel="stylesheet" type="text/css">
    <!-- Sidebar CSS-->
    <link href="{{ url_for('static', filename='css/background/sidebar-menu.css') }}" rel="stylesheet">
    <!-- Custom Style-->
    <link href="{{ url_for('static', filename='css/background/app-style.css') }}" rel="stylesheet">

    <style type="text/css">/* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }</style>
    <script type="text/javascript">
        if (window != top)
            top.location.href = location.href;
    </script>
</head>

<body class="bg-theme bg-theme1  pace-done">
<div class="pace  pace-inactive">
    <div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%"
         data-progress="99">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div class="adcenter">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/background/astyle.css') }}">

</div>
{% block content %}
{% endblock %}

<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='js/background/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/background/popper.js') }}"></script>
<script src="{{ url_for('static', filename='js/background/bootstrap.js') }}"></script>

<!-- simplebar js -->
<script src="{{ url_for('static', filename='js/background/simplebar.js') }}"></script>
<!-- sidebar-menu js -->
<script src="{{ url_for('static', filename='js/background/sidebar-menu.js') }}"></script>
<!-- loader scripts -->
{#<script src="{{ url_for('static', filename='html/jquery.htm')}}"></script>#}
<!-- Custom scripts -->
<script src="{{ url_for('static', filename='js/background/app-script.js') }}"></script>
<!-- Chart js -->

{#<script src="{{ url_for('static', filename='js/background/Chart.js')}}"></script>#}

<!-- Index js -->
{#<script src="{{ url_for('static', filename='js/background/index.js')}}"></script>#}


<script type="text/javascript">
    /*全屏iframe*/
    function quan() {
        /*全屏iframe兼容*/
        $(".adcenter").css("display", "none");
        $(".fixed-top").css("display", "none");
        $(".footer").css("display", "none");
        $("#sidebar-wrapper").css("display", "none");
        $("#showData").css("height", "100%");

        $(".content-wrapper").css("margin-left", "0px");
        $("iframe").css("width", "100%");
        $("iframe").css("position", 'fixed');
        $("iframe").css("left", "0px");
        $("iframe").css("top", "0px");
    }

    /*退出全屏iframe*/
    function exitQ() {
        var mainheight = $('.sidemenu').height();
        //获取侧边菜单高度
        $(".adcenter").css("display", "");
        $(".footer").css("display", "");
        $(".fixed-top").css("display", "");
        $("#sidebar-wrapper").css("display", "");
        $("#showData").css("height", "95%");

        /*退屏iframe兼容*/
        $(".content-wrapper").css("margin-left", "20%");
        $("iframe").css("height", mainheight + 'px');
        //高度是侧边菜单高度，保持一致
        $("iframe").css("width", "");
        $("iframe").css("position", "");
        $("iframe").css("left", "");
        $("iframe").css("top", "");
    }

    {% if isAlert %}
        alert("{{ isAlert|safe }}");
    {% endif %}

</script>
</body>
</html>