{% extends "moduleBase.html" %}
{% block title %}
    run config
{% endblock %}

{% block links %}
    {#    <script language="javascript" src="{{ url_for('static', filename='js/jquery.table.tr.js') }}"></script>#}
    <script src="{{ url_for('static', filename='js/main/func_common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main/func_param.js') }}"></script>
{#    <script src="{{ url_for('static', filename='js/main/func_tree.js') }}"></script>#}
    <script src="{{ url_for('static', filename='js/main/func_runConfig.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main/func_sikuli.js') }}"></script>
{% endblock %}

{% block treeTitle %}
    以下为自定义方法配置
{% endblock %}

{% block testCaseDetail %}
    <form id="configDetail">
        <h2>function配置</h2>
    </form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">

    {% if 'admin' in user_role %}
           var user_type = 'admin'    ;
                        {% else %}
                        var user_type = 'other'    ;
                    {% endif %}

        $(function () {
            //当DOM准备好时创建一个jstree实例
            $('#jstree').jstree({
                core: {
                    "check_callback": true,
                    data: function (node, render) {
                        render(GetUserFuncion())
                    }
                },
                // plugins  存储所有已加载的jstree插件
                'plugins': [
                    'contextmenu', 'types', 'dnd', 'search'
                ],
                "types": {
                    "root": {"valid_children": ["function"],
                        "icon": "{{ url_for('static', filename='icons/testRoot.png')}}"},
                    "function": {
                        "valid_children": ["testStepDbExecute", "testStepFile", "testStepDbCheck",
                            "testStepWebInterface", "testStepCmd", "testStepReport",
                        "testStepGui"],
                        "icon": "{{ url_for('static', filename='icons/testFunction.png')}}"
                    },
                    "testStepDbExecute": {
                        "valid_children": [],
                        "icon": "{{ url_for('static', filename='icons/testStep_database.png')}}"
                    },
                    "testStepDbCheck": {
                        "valid_children": [],
                        "icon": "{{ url_for('static', filename='icons/testStep_dataAssert.png')}}"
                    },
                    "testStepFile": {
                        "valid_children": [],
                        "icon": "{{ url_for('static', filename='icons/testStep_file.png')}}"
                    },
                    "testStepWebInterface": {
                        "valid_children": [],
                        "icon": "{{ url_for('static', filename='icons/testStep_interface.png')}}"
                    },
                    "testStepCmd": {
                        "valid_children": [],
                        "icon": "{{ url_for('static', filename='icons/testStep_CMD.png')}}"
                    },
                    "testStepReport": {
                        "valid_children": [],
                        "icon": "{{ url_for('static', filename='icons/testStep_report.png')}}"
                    },
                    "testStepGui": {
                        "valid_children": [],
                        "icon": "{{ url_for('static', filename='icons/testStep_GUI.png')}}"
                    }
                },
                //contextmenu 存储contextmenu插件的所有默认值
                'contextmenu': {
                    'items': runConfigMenu
                    }
            });

            $("#jstree").on("ready.jstree", function (e, data) {
                {#$('#jstree').jstree('close_all');#}
                $('#jstree').jstree('open_node', '#root');
            });

            $("#jstree").on("open_node.jstree", function (e, data) {
                var bb = $('#jstree').jstree('is_open', data.node);
                if (bb == true){
                    var nodeType = data.node.type;
                    if (nodeType == "root"){
                        $('#jstree').jstree('open_all', data.node);
                    }
                }
            });


            {#$('#jstree').on('move_node.jstree', function (e, data) {#}
            {#    moveNode(data);#}
            {# } );#}
            {#$('#jstree').on('copy_node.jstree', function (e, data) {#}
            {#    copyNode(data);#}
            {# });#}

            $('#jstree').on('changed.jstree', function (e, data) {
//当前选中节点的id
                if (data.action == "delete_node") {
                    return;
                }
                var dom = data.instance.get_node(data.selected[0]);
                var domType = dom.type;
                if (domType.slice(0, 4) == "root" || domType == "testSuite") {
                    {#setParamTable(dom);#}
                } else if (domType == "testStepDbExecute") {
                    setStepDbExecute(dom);
                } else if (domType == "testStepDbCheck") {
                    setStepDbCheck(dom);
                } else if (domType == "testStepFile") {
                    setStepFile(dom);
                } else if (domType == "testStepWebInterface") {
                    setStepWebInterface(dom);
                } else if (domType == "testStepCmd") {
                    setStepCmd(dom);
                } else if (domType == "testStepReport") {
                    setStepReport(dom);
                } else if (domType == "testStepGui") {
                    setGUITable(dom);
                }else {
                    cleanTable();
                }

            });
        });

        function cleanTable() {
            $("#testCaseDetail").html("");
        }

    </script>
{% endblock %}