{% extends "background.html" %}
{% block content %}
    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="init" data-simplebar-auto-hide="true" class="active">
            <div class="simplebar-track vertical" style="visibility: visible;">
                <div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 638px;"></div>
            </div>
            <div class="simplebar-track horizontal" style="visibility: hidden;">
                <div class="simplebar-scrollbar"></div>
            </div>
            <div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;">
                <div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
                    <div class="brand-logo">
                        <a href="{{ url_for('login._login') }}">
                            <img src="{{ url_for('static', filename='icons/logo-icon.png') }}" class="logo-icon"
                                 alt="logo icon">
                            <h5 class="logo-text">autoTest</h5>
                        </a>
                    </div>
                    <ul class="sidebar-menu do-nicescrol in">
                        <li class="sidebar-header">MAIN NAVIGATION</li>
                        {% if 'testCaseConfig' in user_role %}
                            <li>
                                {#                        <a href="/main/indexTestCase" class="active" target="showData">#}
                                <a href="{{ url_for('main.indexTestCase') }}" target="showData">
                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>TestCaseManagement</span>
                                    <small class="badge float-right badge-light">New</small>
                                </a>
                            </li>
                        {% endif %}
                        {% if 'testCaseExecute' in user_role %}

                            <li>
                                <a href="{{ url_for('run.index') }}" target="showData">
                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>runTestCase</span>
                                    <small class="badge float-right badge-light">New</small>
                                </a>
                            </li>
                        {% endif %}
                        {% if 'testSchedule' in user_role %}
                            <li>
                                <a href="{{ url_for('run.schedule') }}" target="showData">
                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>runSchedule</span>
                                    <small class="badge float-right badge-light">New</small>
                                </a>
                            </li>
                        {% endif %}
                        {% if 'testFunction' in user_role %}
                            <li>
                                <a href="{{ url_for('runConfig.functionConfig') }}" target="showData">
                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>runFunction</span>
                                    <small class="badge float-right badge-light">New</small>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ url_for('login._login') }}">
                                <i class="zmdi zmdi-grid"></i> <span>Others</span>
                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for('login._login') }}">
                                <i class="zmdi zmdi-calendar-check"></i> <span>Others1</span>

                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for('login._login') }}">
                                <i class="zmdi zmdi-calendar-check"></i> <span>Others2</span>
                            </a>
                        </li>

                        {#                    <li>#}
                        {#                        <a href="http://demo.qfpffmp.cn/cssthemes6/dgfp_9_fedf/login.html" target="_blank">#}
                        {#                            <i class="zmdi zmdi-lock"></i> <span>Login</span>#}
                        {#                        </a>#}
                        {#                    </li>#}
                        {##}
                        {#                    <li>#}
                        {#                        <a href="http://demo.qfpffmp.cn/cssthemes6/dgfp_9_fedf/register.html" target="_blank">#}
                        {#                            <i class="zmdi zmdi-account-circle"></i> <span>Registration</span>#}
                        {#                        </a>#}
                        {#                    </li>#}
                    </ul>

                </div>
            </div>
        </div>
        <!--End sidebar-wrapper-->

        <!--Start topbar header-->
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link toggle-menu" href="javascript:void();">
                            <i class="icon-menu menu-icon"></i>
                        </a>
                    </li>
                    {#                    <li class="nav-item">#}
                    {#                        <form class="search-bar">#}
                    {#                            <input type="text" class="form-control" placeholder="Enter keywords">#}
                    {#                            <a href="javascript:void();"><i class="icon-magnifier"></i></a>#}
                    {#                        </form>#}
                    {#                    </li>#}
                </ul>

                <ul class="navbar-nav align-items-center right-nav-link">
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                           href="javascript:void();">
                            <i class="fa fa-envelope-open-o"></i></a>
                    </li>
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                           href="javascript:void();">
                            <i class="fa fa-bell-o"></i></a>
                    </li>
                    <li class="nav-item language">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                           href="javascript:void();"><i class="fa fa-flag"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item"><i class="flag-icon flag-icon-gb mr-2"></i> English</li>
                            <li class="dropdown-item"><i class="flag-icon flag-icon-fr mr-2"></i> French</li>
                            <li class="dropdown-item"><i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
                            <li class="dropdown-item"><i class="flag-icon flag-icon-de mr-2"></i> German</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                        <span class="user-profile"><img src="/static/icons/{{ user_head }}" class="img-circle"
                                                        alt="user avatar"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item user-details">
                                <a href="javascript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3"
                                                                 src="/static/icons/{{ user_head }}" alt="user avatar">
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mt-2 user-title">{{ user_name }} </h6>

                                            <p class="user-subtitle">haha</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-power mr-2"></i><a
                                    href="{{ url_for('login._logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--End topbar header-->

        <div class="clearfix"></div>

        <div class="content-wrapper">

            <iframe id="showData" name="showData" class="container-fluid" style="height: 95%;width: 98%">
            </iframe>
        </div>

        <!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javascript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->

        <!--Start footer-->
        <footer class="footer">
            <div class="container">
                <div class="text-center">
                    Copyright © 2021 <a href="#" target="_blank" title="自动化测试">自动化测试</a> - version
                    <a href="{{ url_for('main.updateLog') }}" target="_blank" title="version">v{{ version }}</a>
                </div>
            </div>
        </footer>
        <!--End footer-->

        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">Gaussion Texture</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">Gradient Background</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                    <li id="theme13"></li>
                    <li id="theme14"></li>
                    <li id="theme15"></li>
                </ul>

            </div>
        </div>
        <!--end color switcher-->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

        {#<script src="{{ url_for('static', filename='js/background/index.js')}}"></script>#}

    </div>
    <!--End wrapper-->
{% endblock %}
